body {
  background-image: url('https://cdn.hipwallpaper.com/i/45/94/PsW96H.jpg');
}

h3 {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 40px;
}

#start-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 10px;
}

#tetrisLogo {
  width: 400px;
  height: 200px;
  margin: auto;
  display: block;
}

.container {
  display: flex;
  margin: auto;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  margin-left: 50px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}